.contenedorCatalogo{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenProducto{
    height: 300px;
    width: 300px;
}

.tarjetaProducto{
    padding: 100px;
    display: flex;
    flex-direction: column;
    
    
}


.tarjetaProducto h4{
    text-align: center;
}

.tarjetaProducto p{
    text-align: center;
}

.botonCompra{
    border-radius: 0%;
    align-self: center;
    color:  black;
    background-color: white;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 50px;
}